.container{
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 5rem;
    flex-wrap: wrap;
}
.container div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 3rem;
    
}
.foot{
    display:flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
    flex-wrap: wrap;
}
.logo {
    display: flex;
    align-items: center; /* Aligns logo image and text vertically */
  }
@media (max-width: 768px) {
    .container {
        justify-content: center; /* Keep items centered */
    }

    .container div {
        flex: 1 1 45%; /* Each div takes 45% of the width to form two centered columns */
        text-align: center; /* Center text */
        align-items: center; /* Center items */
        margin-bottom: 3rem;
    }
}